<!-- templates/chart.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto ">
    <canvas id="myChart" width="400" height="300"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // === include 'setup' then 'config' above ===
    {#const labels = [
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
    ];#}
  const data = {
      labels: {{ numbers_list }},
      datasets: [{
        label: '{{lot_number}}',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: {{ parking_data }},
      }]
    };
    const config = {
    type: 'line',
    data,
    options: {
        maintainAspectRatio: false,
        responsive: true,
        scales: {
            'time-axis': {
                type: 'linear',
                position: 'left'
            },

            xAxes: [{
                type: 'time',
                time: {
                    unit: 'hour'
                }
            }]
        }
    }
    };
  var myChart = new Chart(
    document.getElementById('myChart'),
    config

  );
</script>
{% endblock content %}