<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // === include 'setup' then 'config' above ===
    {#const labels = [
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
    ];#}
  const data = {
      labels: {{ numbers_list }},
      datasets: [{
        label: 'My First dataset',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: {{ parking_data }},
      }]
    };
    const config = {
    type: 'line',
    data,
    options: {}
    };
  var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

</body>
</html>