<!-- templates/map.html -->
{% extends 'base.html' %}
{% block content %}

<div class="w-small w-2/3 mx-auto py-10 text-gray-600">
    <input
        type="text"
        name="search_input"
        hx-post="/map_search"
        hx-trigger="keyup changed delay:250ms"
        hx-indicator=".htmx-indicator"
        hx-target="#place-results"
        placeholder="Search Location"
        class="bg-white h-10 px-5 pr-10 rounded-full text-2xl focus:outline-none"
    >
    <span class="htmx-indicator">Searching...</span>
</div>

<table class="border-collapse w-small w-2/3 mx-auto">
  <thead>
    <tr>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Address</th>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Name</th>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Latitude</th>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Longitude</th>
    </tr>
  </thead>
  <tbody id="place-results">
    {% include 'place.html' %}

  </tbody>

</table>

{% endblock content %}
