<!-- templates/map.html -->
{% extends 'base.html' %}
{% block content %}

<div class="w-small w-2/3 mx-auto py-10 text-gray-600">
    <input
        type="text"
        name="search_input"
        hx-post="/map_search"
        hx-trigger="keyup changed delay:250ms"
        hx-indicator=".htmx-indicator"
        hx-target="#place-results"
        placeholder="Search Location"
        class="bg-white h-10 px-5 pr-10 rounded-full text-2xl focus:outline-none"
    >
    <span class="htmx-indicator">Searching...</span>
</div>

<div class="w-2/3 mx-auto">
    {% include 'embedmap.html' %}
</div>

<table class="border-collapse w-small w-2/3 mx-auto">
  <thead>
    <tr>
        <th class="p-3 font-bold uppercase bg-green-400 text-gray-100 border border-gray-300 hidden lg:table-cell">Address</th>
        <th class="p-3 font-bold uppercase bg-green-400 text-gray-100 border border-gray-300 hidden lg:table-cell">Name</th>
        <th class="p-3 font-bold uppercase bg-green-400 text-gray-100 border border-gray-300 hidden lg:table-cell">Carpark 1</th>
        <th class="p-3 font-bold uppercase bg-green-400 text-gray-100 border border-gray-300 hidden lg:table-cell">Carpark 2</th>
        <th class="p-3 font-bold uppercase bg-green-400 text-gray-100 border border-gray-300 hidden lg:table-cell">Carpark 3</th>
    </tr>
  </thead>
  <tbody id="place-results">
    {% include 'place.html' %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </tbody>

</table>

{% endblock content %}
