<!-- templates/place.html -->

{% if place|length>0 %}

    <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">{{ place['formatted_address'] }}</td>
        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">{{ place['name'] }}</td>
        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
            <button onclick="location.href='{{ url_for('chartpage',my_var=shortest[0]) }}'"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                {{ shortest[0] }}
            </button>
        </td>
        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
            <button onclick="location.href='{{ url_for('chartpage',my_var=shortest[1]) }}'"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                {{ shortest[1] }}
            </button>
        </td>
        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
            <button onclick="location.href='{{ url_for('chartpage',my_var=shortest[2]) }}'"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                {{ shortest[2] }}
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <!-- chart -->
            <div class="container mx-auto bg-yellow-100 rounded-lg shadow-xl hover:bg-yellow-200" onclick="location.href='{{ url_for('chartpage',my_var=shortest[0]) }}'">
                <div class="container mx-auto flex justify-center">
                    <div>
                        <p class="-top-0 p-3 font-bold text=center text-5xl text-green-700">
                            {{ shortest[0] }} Available spaces
                        </p>
                    </div>
                </div>


                <div>

                    <canvas id="myChart" width="400" height="300"></canvas>

                </div>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                <script>


                    const data = {
                        labels: {{ chart_data[0][1] }},
                        datasets: [{
                            label: '{{shortest[0]}}',
                            backgroundColor: 'rgb(4, 120, 87)',
                            borderColor: 'rgb(4, 120, 87)',
                            data: {{ chart_data[0][0] }},
                        }]
                    };
                    const config = {
                        type: 'line',
                        data: data,
                        options: {
                            maintainAspectRatio: false,
                            responsive: true,
                            plugins: {
                                legend: {
                                    display: false
                                }
                            },
                            scales: {
                                'time-axis': {
                                    type: 'linear',
                                    position: 'left',
                                    title: {
                                        display: true,
                                        text: "lots available"
                                    }

                                },

                                xAxes: [{
                                    type: 'time',
                                    time: {
                                        unit: 'hour'
                                    },
                                    title: {
                                        display: true,
                                        text: "time"
                                    }
                                }]
                            }
                        }
                    };
                    var myChart = new Chart(
                        document.getElementById('myChart'),
                        config
                    );
                </script>
            </div>


        </td>

    </tr>




{% endif %}
